@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bebas+Neue&family=Oswald&family=Staatliches&display=swap');

.header-of-projectPage_Section{
    padding: 2rem 0;
}
.work-project-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1rem;
    padding: 1.5rem;
}
/* Project Card */
.work-card {
    display: block;
    border-radius: var(--border-for-shadow);
    background-color: var(--bg-color);
    text-decoration: none;
    padding: 1rem;
    box-shadow: var(--outer-shadow);
}
/* .work-card:hover{
    transition: all .5s;
} */
.work-project-box a:hover{
    filter: blur(1px); 
    transition: all .5s; 
    box-shadow: var(--inner-shadow);
}
.work-card span{
    display: none;
}

.work-card span:hover{
    display: contents;
    font-size: 2rem;
}
.work-card img {
    border-radius: 1rem;
    height: 80%;
    width: 100%;
}

.work-card h3 {
    font-size: 2rem;
    font-family: var(--second-font-family);
    letter-spacing: .1.3rem;
    color: var(--primary-font-color);
    padding: 0 1rem;
}

.work-card p {
    padding: 0 1rem;
}
